.app-container {
  background-color: transparent;
    height: 100%;
    font-family: 'Helvetica Neue';
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
box-shadow: 0 3px 10px 0 #aaaaaa;
cursor: pointer;
    justify-content: center;
    align-items: center;
}
.wave{
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}
@keyframes animate-wave {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0);
    }
  }

.title {
    text-align: center;
    font-family: 'Open Sans';
    white-space: pre-line;
    font-style: italic;
    font-size: 90px;
    letter-spacing: -1px;
    font-weight: bold;
    color: black;
}
.subtitle {
    text-align: center;
    font: caption;
margin-top: 20px;
font-weight: bold;
font-size: larger;
color: black;
  }

.subtitle-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
}

.home-btns {
    border-radius: 10px !important;
    margin-top: 1rem;
}

.btns-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 280px;
    box-shadow: 0 3px 10px 0 #aaaaaa;
    justify-content: space-between;
    margin-top: 1rem;
    width: 19rem;
    cursor: pointer;
}
.icontainer{
  /* background-color: beige; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 280px;
  box-shadow: 0 3px 10px 0 black;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 85%;
}
.logo-img1{
max-width: 300px;
max-height: 362px;
object-fit: cover;
border: black;
border-radius: 1px;
}
.logo-img2{
  
max-height: 100px;
}
.logo-img3{
  max-height: 100px;
}
.icontainer2{
  align-items: center;
  display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 65%;
}
.logo-img4{
  max-width: 250px;
  /* max-height: 200px; */
}
.logo-img5{
  max-height: 250px;
  object-fit: contain;
  /* background-color: blue; */
}
.logo-img6{
  max-height: 130px;
  background-color: transparent;
}
.social{
  align-items: center;
  display: flex;
    justify-content: space-between;
    margin-top: 1px;
    width: 5%;
    size: 5px;
    border: 1px;
}